* {
    margin: 0;
    font-family: sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F0F8FF;
}

.nav-bar {
    background-color: #4682B4;
    height: 70px;
    padding: 10px;
    border-bottom: 3px solid black;
    display: flex;
}

.nav-text {
    width: 300px;
    height: 100%;
    color: #F0F8FF;
}

#nav-box {
    margin-left: auto;
    width: 500px;
    border-radius: 20px;
    font-size: larger;
    padding-left: 20px;
}

.top-img {
    width: 200px;
    height: 70px;
    border-radius: 20px
}

.main-content {
    padding: 20px;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.inner-div {
    width: 300px;
    height: 300px;
    background-color: #F2F2F2;
    border: 3px solid grey;
    padding: 20px;
    border-radius: 25px;
}

.inner-div:nth-child(odd) {
    margin-bottom: 40px;
}


.head-div {
    background-color: #DBDBDB;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.head-div h2 {
    font-weight: lighter;
}


.p-div {
    text-align: center;
    padding-top: 10%;
    font-size: 135%;
}

.p-div p {
    padding-bottom: 30px
}

.footer-content {
    display: flex;
    background-color: #4682B4;
    height: 20px;
    padding: 10px;
    border-top: 3px solid black;
    align-items: center;
}

.footer-link {
    color: #F0F8FF;
    text-decoration: none;
    background-color: navy;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid grey;
}

.footer-container {
    margin-left: auto;
}